/* Variables */
:root {
    --bg-color: #FFC222;
    --secondary-color: #00a149;
    --white-color: #fff;
    --black-color: #1E1D23;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    --border-radius: 10px;
    --box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --text-color: #b0b0b0;
}

/* Global Styles */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* Typography */
h1 {
    font-size: 58px;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--white-color);
    text-shadow: 1px 0 6px #000;
}

h1 span {
    color: var(--bg-color);
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}

h4 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

h5 {
    color: var(--black-color);
    text-transform: capitalize;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.75rem;
    letter-spacing: 1px;
}

/* Buttons */
.main-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--bg-color);
    border: 0.1875rem solid var(--bg-color);
    color: var(--black-color);
    font-size: 0.9375rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
    transition: all 0.4s ease-out 0s;
}

.main-btn:hover {
    background-color: transparent;
    color: var(--bg-color);
}

/* Wrapper */
.wrapper {
    padding: 4.25rem;
    padding-bottom: 4.24rem;
}

.text-content {
    width: 70%;
    margin: auto;
}

/* Header Design */
.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 0.3s linear;
}

.navigation-wrap .nav-item:hover {
    color: var(--bg-color) !important;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-toggler {
    color: var(--white-color);
    outline: none;
    box-shadow: none;
    border: none;
}

.nav-link {
    font-size: 0.9375rem;
    font-weight: 600;
    text-decoration: capitalize;
    color: var(--white-color);
    letter-spacing: 1px;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
    color: var(--bg-color) !important;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

/* Top Banner */
.top-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/banner\ img.png) no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}

.top-banner p {
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

/* Carousel */
.carousel-item img {
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
    margin-top: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    color: var(--white-color);
}

.carousel-caption {
    display: block;
    background: rgba(34, 28, 28, 0.5);
    border-radius: 8px;
    padding: 10px;
}

@media (max-width: 576px) {
    .carousel-caption h2 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
}

/* Food Menu */
.food-card {
    transition: transform 0.3s ease;
}

.food-card:hover {
    transform: scale(1.05);
    border: var(--secondary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 60%;
    background-color: #FFC222;
}

/* Blog Section */
.card {
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    line-height: 1.6;
}

.card-footer {
    background-color: #00a149;
    padding: 0.75rem 1.25rem;
    border-top: 1px solid var(--secondary-color);
}

.text-muted {
    color: var(--text-color);
}

/* Responsive Styles */
@media (max-width: 991px) {
    .top-banner {
        padding: 8rem 0 4rem;
    }

    .navigation-wrap.scrolled {
        background-color: var(--white-color);
        transition: background-color 0.3s ease;
    }

    .text-content {
        width: 100%;
    }

    .navigation-wrap .navbar-brand img {
        height: 3.8125rem;
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.875rem;
        color: var(--black-color);
    }

    .navbar-toggler {
        color: var(--black-color);
        outline: none;
        box-shadow: none;
        border: none;
    }

    .top-banner {
        padding: 9.37rem 0 9.375rem;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.3rem;
        line-height: 28px;
    }

    .top-banner {
        padding: 10.37rem 0 9.375rem;
    }
}
